
.App .Header {
  padding: 10px 5px;
  display: flex;
  border-bottom: 2px solid #bebebe;
}

.App .Header img {
  opacity: .2;
  margin-left: 10px;
}

.App .Header img ~ img {
  margin: 3px 10px 0 0;
}

.App .Header input {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
  width: 100%;
  border: none;
  margin-left: 10px;
  opacity: .3;
  margin-left: 15px;
}

.App .Header input:focus {
  outline: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}