body {
  background-color: whitesmoke;
}

.App {
  margin-top: 100px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bebebe;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
  position: relative;
  background-color: #FFF;
}

.App::before {
  content: '';
  height: 20px;
  left: 0;
  right: 0;
  bottom: -6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3), 
              0 6px 1px -2px #fff,
              0 7px 1px -2px rgba(0, 0, 0, .3),
              0 12px 1px -4px #fff,
              0 13px 1px -4px rgba(0, 0, 0, .3);
  position: absolute;
}

.App .title-app {
  position: absolute;
  top: -90px;
  right: 35%;
  font-size: 60px;
  font-weight: 100;
  color: red;
  opacity: .5;
}

.App .Footer {
  display: flex;
  align-items: center;
}

.App .Footer p {
  margin-left: 10px;
  color: #3e3e3e;
}

.App .Footer .clickItem {
  margin-left: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.App .Footer a {
  text-decoration: none;
  color: #9e9e9e;
  margin: 0 10px 0 10px;
}

.App .Footer > a {
  margin-left: 80px;
}

.App .Footer .clickItem a:active {
  color: chocolate;
}

.App .Footer .clickItem .border-link {
  border: 1px solid cornflowerblue;
  padding: 2px 7px;
  border-radius: 2px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
