.App {
  margin-top: 50px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #bebebe;
}

.App .Header {
  padding: 10px 5px;
  display: flex;
  border-bottom: 2px solid #bebebe;
}

.App .Header img {
  opacity: .2;
  margin-left: 10px;
}

.App .Header img ~ img {
  margin: 3px 10px 0 0;
}

.App .Header input {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #4d4d4d;
  width: 100%;
  border: none;
  margin-left: 10px;
  opacity: .3;
  margin-left: 15px;
}

.App .Header input:focus {
  outline: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .Footer {
  display: flex;
  align-items: center;
}

.App .Footer p {
  margin-left: 10px;
  color: #3e3e3e;
}

.App .Footer .clickItem {
  margin-left: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.App .Footer a {
  text-decoration: none;
  color: #9e9e9e;
  margin: 0 10px 0 10px;
}

.App .Footer > a {
  margin-left: 80px;
}

.App .Footer .clickItem a:active {
  color: chocolate;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
